spring:
  application:
    name: "back-theonova-core"
  datasource:
    url: ${MYSQL_JDBC_URL:jdbc:mysql://localhost:3306/store?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD:123456789}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      auto-commit: true
      connection-timeout: 30000
      idle-timeout: 300000
      maximum-pool-size: 50
      minimum-idle: 8
      max-lifetime: 900000
      pool-name: PoolConnection-TheonovaProject

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    open-in-view: false



server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health

  endpoint:
    health:
      show-details: always

