spring:
  application:
    name: "back-theonova-core"
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health

  endpoint:
    health:
      show-details: always
